header,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.788);
  color: white;
}
.logo {
  margin-top: 10px;
  width: 250px;
  height: 200px;
}

.container {
  background: rgba(150, 167, 167, 0.356);
}
.h1 {
  color: blue;
}
h1:hover {
  /* Pseudo clase */
  color: red;
}
.imagen {
  width: 350px;
  height: 400px;
}
#red-social {
  width: 100px;
  height: 100px;
  align-self: auto;
}
.cursos {
  width: 500px;
  height: 500px;
}
figure{
    width: auto;
    transition: all 300px;
    position: relative;
}
figure:hover{
    transform: scale(1.20);
}
video{
    width: 600px;
    height: 350px;
}
